* {
    margin: 0;
    box-sizing: border-box;
    /*xborder: 1px solid red;*/
}

.light-paper {
    background: rgba(255, 255, 255, 1);
}


body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;

    /* static docket to the top 
    background-color: #ffffff;
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
}

.padding-all {
    /* top right bottom left */
    padding: 16px 16px 16px 16px;
}

.logo {
    width: 100px;
    height: 100px;
    display: block;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.padding-bottom {
    padding-bottom: 16px;

}

h3 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    background: rgba(247, 248, 253, 1);
}

h3 * {
    display: inline-block;
    vertical-align: middle;
}

h3 span {
    padding-left: 16px;
}

b {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.footer {
    margin-top: auto;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
}

button,
.button {
    width: Fill (165px)px;
    height: Hug (48px)px;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    border: 1px solid rgba(151, 71, 255, 1);
    background: rgba(0, 132, 244, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

a.button {
    text-decoration: none;
}